doctype html
html(lang='eng')
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Labs Kit - a initial development kit with SASS, Pug and BrowserSync.

    link(rel="stylesheet", href="/assets/css/main.css")

  body
    h1 Labs kit is Awesome.
